div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newscard {
    width: 100%; 
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px #0000001a;
    background-color: white;
    padding: 2rem;
    margin: 2rem;
}

.newscard h2{
    align-self: flex-start;
}

.newscard p{
    align-self: flex-start;
}

.newscard div a{
    align-self: flex-start;
}

body{
    background-color: #242424;
}

h1{
    color: #ddd;
    text-align: center;
    width: 100%;
    height: 100%;
}
.newscard img{
    height: 50vh;
    width: 50%;
}